@model IEnumerable<devCodeCampAttendanceV2.Models.Student>
@{
    ViewBag.Title = "Current";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Students</h2>
<p>
    <a href="/Students/Create" class="btn btn-default">Add a Student</a>
</p>

@if (Model == null || Model.Count() == 0)
{
    <div class="jumbotron">
        <h2>There are no students to show!</h2>
        <p class="lead">Click "Add a Student" to create a new one.</p>
    </div>
}
else
{
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Class.Name)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>  
                    <div>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Add to Class", "Create", "ClassStudents", new { StudentID = item.ID }, null)</li>
                                <li>@Html.ActionLink("Edit Student Info", "Edit", "Students", new { StudentID = item.ID }, null)</li>
                                @*<li>@Html.ActionLink("Remove Student", "Delete", "ClassStudents", new { StudentID = item.ID}, null)</li>*@
                            </ul>
                        </div>
                    </div>                  
                </td>
            </tr>
        }
    </table>
}


    

