@model IEnumerable<devCodeCampAttendanceV2.Models.Student>
@{
    ViewBag.Title = "Current";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Students</h2>
<p>
    <a href="/Students/Create" class="btn btn-default">Add a Student</a>
</p>

@if (Model == null || Model.Count() == 0)
{
    <div class="jumbotron">
        <h2>There are no students to show!</h2>
        <p class="lead">Click "Add a Student" to create a new one.</p>
    </div>
}
else
{
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Class.Name)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Options
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>                    
                    @Html.ActionLink("Add to Class", "Create", "ClassStudents", null, new { StudentID = "item.ID"}) |
                    @Html.ActionLink("Edit", "Edit", "Student") |
                    @Html.ActionLink("Details", "Details", "Student") |
                    @Html.ActionLink("Delete", "Delete", "Student")
                </td>
            </tr>
        }
    </table>
}


    

