@model devCodeCampAttendanceV2.Models.ClassStudent

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            @Html.Label("Student") 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName) @Html.Raw(Model.Student.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>            
            <input type="submit" value="Delete" class="btn btn-xs" />
            <a class="btn btn-xs" href="/Students/Current">Cancel</a> 
        </div>
    }
</div>
